.navbar {
	background-color: #1d1d1d;
	padding: 0px;
    margin: 0px;
	position: sticky;
	top: 0;
}

.warning {
    color: #ffff00
}

.navbar a {
    color: #e6e6fa;
    padding: 2px;
}

.navbar span {
    padding: 5px;
}
